# Configuración de la Base de Datos
DB_USER=root
DB_PASSWORD=1
DB_NAME=medal
API_PORT_EXTERNAL=8080
DB_PORT_EXTERNAL=10001
DB_HOST=medal-bdd-postgres
DB_PORT_INTERNAL=5432
API_DIRECTION=http://localhost:8080
PORT=8080
JWT_SECRET=5e40edda6cd84b78d3944603a60d8a19fd736035765542a257f252dba23327ed
REDIS_PASSWORD=vYVSiOC9Tadt4QlWQE6zDGdit97ksBWluVFdEMG5GIQQ0OtgPW
REDIS_IP=127.0.0.1
PORT_REDIS=6379

REDIS_HOST=redis

# URL de conexión final
REDIS_URL=redis://default:${REDIS_PASSWORD}@${REDIS_HOST}:6379
