# Configuración de la Base de Datos
DB_USER=root
DB_PASSWORD=1
DB_NAME=medal
API_PORT_EXTERNAL=8080
DB_PORT_EXTERNAL=10001
DB_HOST=medal-bdd-postgres
DB_PORT_INTERNAL=5432
API_DIRECTION=http://localhost:8080
PORT=8080
